
    <div class="btn-group" role="group" aria-label="...">
      <button
              type="button"
              class="btn btn-default active"
              ng-click="">
          Single Player
      </button>
      <button
              ng-disabled="true"
              type="button"
              class="btn btn-default"
              ng-click="">
          Multiplayer
      </button>
      <button
              ng-disabled="true"
              class="btn btn-default"
              ng-click="">
          Story Mode
      </button>
    </div>